<?xml version="1.0"?>
<configuration>
      <appSettings>
        <add key="siteName" value="Pamıkkale"/>
      </appSettings>
  
      <connectionStrings>
            <add name="conStr" connectionString="Data Source=MBRAIN\SQLEXPRESS;Initial Catalog=bus_reservation3;Integrated Security=True;" />
            <add name="bus_reservationConnectionString" connectionString="Data Source=MBRAIN\SQLEXPRESS;Initial Catalog=bus_reservation3;Integrated Security=True"
                  providerName="System.Data.SqlClient" />
      </connectionStrings>
  
      <system.web>
          <compilation debug="true" />
          <authentication mode="Windows" />
      </system.web>
</configuration>
